@font-face {
	font-family: "fonts/examples-fonts";
	src: url('../fonts/examples-fonts.eot');
	src: url('../fonts/examples-fonts.eot?#iefix') format('eot'),
		url('../fonts/examples-fonts.woff2') format('woff2'),
		url('../fonts/examples-fonts.woff') format('woff'),
		url('../fonts/examples-fonts.ttf') format('truetype'),
		url('../fonts/examples-fonts.svg#fonts/examples-fonts') format('svg');
}

.icon:before {
	font-family: "fonts/examples-fonts";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-badoo:before {
	content: "\E001";
}

.icon-behance:before {
	content: "\E002";
}

.icon-deviantart:before {
	content: "\E003";
}

.icon-dribbble:before {
	content: "\E004";
}

.icon-dropbox:before {
	content: "\E005";
}

.icon-facebook:before {
	content: "\E006";
}

.icon-flickr:before {
	content: "\E007";
}

.icon-foursquare:before {
	content: "\E008";
}

.icon-google-plus:before {
	content: "\E009";
}

.icon-instagram:before {
	content: "\E00A";
}

.icon-line:before {
	content: "\E00B";
}

.icon-linkedin:before {
	content: "\E00C";
}

.icon-myspace:before {
	content: "\E00D";
}

.icon-path:before {
	content: "\E00E";
}

.icon-pinterest:before {
	content: "\E00F";
}

.icon-quora:before {
	content: "\E010";
}

.icon-skype:before {
	content: "\E011";
}

.icon-snapchat:before {
	content: "\E012";
}

.icon-soundcloud:before {
	content: "\E013";
}

.icon-spotify:before {
	content: "\E014";
}

.icon-swarm:before {
	content: "\E015";
}

.icon-telegram:before {
	content: "\E016";
}

.icon-tumblr:before {
	content: "\E017";
}

.icon-twitter:before {
	content: "\E018";
}

.icon-viber:before {
	content: "\E019";
}

.icon-vimeo:before {
	content: "\E01A";
}

.icon-vine:before {
	content: "\E01B";
}

.icon-whatsapp:before {
	content: "\E01C";
}

.icon-yelp:before {
	content: "\E01D";
}

.icon-youtube:before {
	content: "\E01E";
}
